// modular scale settings. size table: http://modularscale.com/scale/?px1=16&px2=&ra1=1.25&ra2=0

$ratio:                 $major-third;
$base-size:             16px;

// font families

$font:                  sans-serif;
$font-accent:           "Lucida Grande", "Lucida Sans Unicode", sans-serif;

// typography grid

$basefont:              ms(0);
$baseline:              ms(0);
$smallfont:             ms(-2);
$largefont:             ms(4);
$tinymargin:            ms(-5);
$smallmargin:           ms(-2);
$largemargin:           ms(0);

// colors

$gray-light:            #d1d1d1;
$gray-dark:             #444;
$black-transparent:     rgba(0, 0, 0, 0.5);

// the coffee form

$coffee-width:          ms(15);
