// font families

@font:                  sans-serif;
@fontAccent:            "Lucida Grande", "Lucida Sans Unicode", sans-serif;

// typography grid

@smallFontSize:         10px;

@baseFontSize:          16px;
@baseLineHeight:        16px;

@largeFontSize:         39px;

@marginSmall:           5px;
@margin:                10px;
@marginLarge:           16px;

// colors

@grayLight:             #d1d1d1;
@grayDark:              #444;
@blackTransparent:      rgba(0, 0, 0, 0.5);

// the coffee form

@coffeeWidth:           455px;
