.coffee_box {
	background: #ebebeb;
	border: 10px solid #868686;
	border-radius: 15px;
	box-shadow: 0px 0px 50px #064771;
	display: none;
	left: 50%;
	margin: 0 0 0 -300px;
	min-height: 50px;
	padding: 10px;
	position: fixed;
	top: 20%;
	width: 600px;
	z-index: 99;
}

#coffee_pot {
	background: #d1d1d1;
	border: 0px;
	font-size: 25px;
	height: 50px;
	margin: 0;
	padding: 0 0 0 10px;
	width: 590px;
}

#coffee_cups {
	display: none;
}

#coffee_cups ol {
	line-height: 1.0em;
	margin: 0;
	padding: 10px 0 0 0;
}

#coffee_cups ol li {
	border-bottom: 1px solid #e4e4e4;
	font-size: 20px;
	list-style: none;
	width: 590px;
	margin:10px 0px;
}

#coffee_cups li strong {
	display: block;
	font-size: 20px;
	font-weight: normal;
}

#coffee_cups small {
	color: #999;
	display: block;
	font-size: 11px;
	margin: 5px 0px;
}